/* ## Media Queries */
/* - <https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries> */
/* - <https://developer.mozilla.org/en-US/docs/Web/CSS/@media> */
/* - <https://developer.mozilla.org/en-US/docs/Web/CSS/At-rule> */
/* - <https://www.w3schools.com/cssref/css3_pr_mediaquery.asp> */

/* ## Syntax */
/* - @media <media-type> <logical-operator> (<media-features>) {<group-rule-body>}  */

/* ## Media Types */
/* - <https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries#Media_types> */

/* ## Media Features */
/* - <https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries#Media_features> */

/* ## Logical Operators */
/* - <https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries#Logical_operators> */

@media screen and (max-width: 360px) {
    body {
        background-color: slategrey;
    }

    .center-heading {
        border: 1px solid red;
        display: block;
        text-align: center;
        font-family: 'Poiret One', cursive;
        color: white;
    }
    
    .center-container {
        border: 1px solid red;
        display: block;
        text-align: center;
        font-family: 'Poiret One', cursive;
        color: white;
    }

    svg {
        border: 1px solid yellow;
    }
}
