/* ## Media Queries */
/* - <https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries> */
/* - <https://developer.mozilla.org/en-US/docs/Web/CSS/@media> */
/* - <https://developer.mozilla.org/en-US/docs/Web/CSS/At-rule> */
/* - <https://www.w3schools.com/cssref/css3_pr_mediaquery.asp> */

/* ## Syntax */
/* - @media <media-type> <logical-operator> (<media-features>) {<group-rule-body>}  */

/* ## Media Types */
/* - <https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries#Media_types> */

/* ## Media Features */
/* - <https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries#Media_features> */

/* ## Logical Operators */
/* - <https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries#Logical_operators> */

/* SMALL PHONE SCREENS */
/* @media screen and (max-width: 360px) { */
@media screen and (max-width: 640px) {
    body {
        background-color: slategrey;
    }

    .center-heading {
        /* border: 1px solid red; */
        display: block;
        text-align: center;
        font-family: 'Poiret One', cursive;
        color: white;
    }
    
    .center-container {
        /* border: 1px solid purple; */
        display: block;
        text-align: center;
        color: white;
        /* width: 280px; */
        width: auto;
        margin: auto;
    }

    .buttons-container {
        width: 320px;
    }

    svg {
        border: 1px solid yellow;
    }

    ul {
        /* border: 1px solid blue; */
        /* list-style: none; */
        /* margin: 0; */
        padding: 0;
    }

    .button {
        border: 1px solid black;
        height: 50px;
        width: 50px;
        background-color: hsl(195, 53%, 79%);
        display: inline-block;
        border-radius: 50%;
        box-shadow: 3px 3px 3px black;
        margin: 4px;
    }
    
    li:link { color: blue; }          /* Unvisited links */
    li:visited { color: purple; }     /* Visited links */
    li:hover { background: yellow; }  /* Hovered links */
    li:active { color: red; }         /* Active links */

    .reset-container {
        /* border: 1px solid yellow; */
        /* width: 320px; */
        /* width: 100%; */
        text-align: right;
        width: 320px;
    }
    
    footer {
        width: 320px;
        margin: auto;
        /* text-align: right; */
    }
    
    .timer-container {
        /* border: 1px solid blue; */
    }

    #current-time{
        font-size: 32px;
    }

    .timer-buttons {
        font-family: 'Poiret One', cursive;
        font-weight: bolder;
    }

    .timer-buttons button {
        padding: 5px;
        width: 30%;
    }

    #start {
        background-color: lightgreen;
    }
    
    #stop {
        background-color: pink;
    }
    
    #reset {
        background-color: lightyellow;
    }

    .reset-button {
        margin-right: 10px;
        margin-bottom: 10px;
        /* background-color: #5bf3b9; */
        /* border: 5px solid purple; */
        background-color: #8fabbb;
        color: black;
        /* border: 1px solid black; */
        padding: 5px;
        /* margin-right: 5vw; */
        font-family: 'Poiret One', cursive;
        font-size: larger;
        /* width: 30%; */
        /* margin-left: auto; */
        /* margin-right: auto; */
        /* float: inline-end; */
        text-align: right;
    }
}

/* EXTRA SMALL PHONE SCREENS */
/* @media screen and (max-width: 280px) { */
@media screen and (max-width: 320px) {
    body {
        background-color: red;
    }

    .buttons-container, .reset-container {
        width: auto;
    }
}